
<div class="container">
          <header class="header-input-states"><h1>Brazil States</h1>
                    <form id="inputStates">
                        <input type="text">
                        <button  class="btn"></button>
                    </form>
          </header>
            <div *ngFor='let state of states'>
                      <div class="stateContainer">
                        <div class="stateContent">
                            {{state.nome}}- {{state.sigla}}
                          </div>
                          <a class="viewContent">View Content</a>
                      </div>
            </div>
</div>
<router-outlet></router-outlet>
