
<div class="container">
    <header class="header-input-states"><h1>{{title}}</h1>
            <form id="inputStates">
                <input type="text" placeholder="Look for a state"  [(ngModel)]="searchItem" [ngModelOptions]="{standalone: true}">
                <button  class="btn"></button>
            </form>
  </header>
    <div *ngFor='let state of filteredStates'>
              <div class="stateContainer">
                      <div class="stateContent">
                          {{state.nome}}- {{state.sigla}}
                      </div>
                      <a (click)="showHide = !showHide" class="viewContent">View Content</a>
              </div>
              <div  *ngIf = 'showHide' class="viewMore">
                        <div class="viewMore-name">
                            <label>Name:</label>
                               {{state.nome}}
                        </div>
                        <div class="viewMore-sigla">
                            <label>Sigla:</label>
                              {{state.sigla}}
                        </div>
                        <div class="viewMore-regiao">
                            <label>Região:</label>
                           {{state.regiao.nome}}
                      </div>
                      <a (click)="showHidePopup = !showHidePopup" class="btnviewMore">View More</a>
            </div>
              <div *ngIf = 'showHidePopup'  class="popup">
                <h1>Warning</h1>
                <p>{{message}}</p>
                <div class="btnContainer">
                 <a (click)="showHidePopup = !showHidePopup" class="btnYes">Yes</a> <a (click)="showHidePopup = !showHidePopup" class="btnNo">No</a>
                </div>
              </div>

    </div>
</div>
